.formcontainer{
    border: 1px solid black;
    border-radius: 2%;
    background-color:#f9f9f9; /* Transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow with transparency */
    padding: 5%;
    width:30%;
    margin-bottom: 5%;
    /*box-shadow: 10px 10px 5px lightblue;*/
    
}